body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#scene {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-position: center;
}

.title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 2.5em;
    color: #A0522D;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-align: center;
    z-index: 2;
}

.boards {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.board-link {
    font-family: 'Seaweed Script', cursive;
    font-size: 2em;
    color: #2E8B57;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s;
}

.board-link:hover {
    color: #3CB371;
}

.cloud {
    position: absolute;
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

#cloud1 {
    top: 10%;
    left: -200px;
}

#cloud2 {
    top: 20%;
    left: -600px;
}

#cloud3 {
    top: 15%;
    left: -1000px;
}

.wave {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
}
