@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Sky blue fallback removed to allow canvas to be visible */
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 2.5em;
    color: #A0522D;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-bottom: 50px;
}

.boards {
    /* No special styling needed for the container */
}

.board-link {
    font-family: 'Seaweed Script', cursive;
    font-size: 2em;
    color: #2E8B57;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s;
}

.board-link:hover {
    color: #3CB371;
}
